
<div class="shopname">
  <div class="stud">Stud</div>
  <div class="itemshop">ItemShop</div>
</div>
<div class="slogan">
  <div class="first-row">
    <div class="make">Make</div>
    <div class="your">your</div>
    <div class="mood">mood</div>
  </div>
  <div class="second-row">
    <div class="by">By</div>
    <div class="helping">helping</div>
    <div class="others">others</div>
  </div>
</div>
<div class="bubbles">
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <div class="circle4"></div>
  <div class="circle5"></div>
  <div class="circle6"></div>
  <div class="circle7"></div>
  <div class="circle8"></div>
</div>
<div class="image"><img src="../../assets/students.png"/></div>
<div class="buttons">
  <div class="button-category">
    <div class="text">
      <a [routerLink]= "['/productList']" style="text-decoration: none; color: white;">View Categories</a></div>
  </div>
  <div class="button-upload">
    <div class="text">
      <a  [routerLink] = "['/upload']" style="text-decoration: none; color: white;" >Upload product</a></div>
  </div>
</div>

<div class="footer">
  <div class="social-media">
    <ul>
      <li><h4>Social Media</h4></li>
      <li><a>VK</a></li>
      <li><a>Twitter</a></li>
      <li><a>Instagram</a></li>
    </ul>
  </div>
  <div class = "about-shop">
    <ul>
      <li><h4>About Shop</h4></li>
      <li>Team</li>
      <li>Donation</li>
      <li>Contact us</li>
    </ul>
  </div>
  <div class="rights">
    © 2020 - 2025 StudItemShop - ALL RIGHTS ARE RESERVED
  </div>
</div>

