<div class="shopname" [routerLink]="['/']">
    <div class="stud">Stud</div>
    <div class="itemshop">ItemShop</div>
</div>
<div class="bubbles">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
    <div class="circle5"></div>
    <div class="circle6"></div>
    <div class="circle7"></div>
    <div class="circle8"></div>
</div>

<div *ngFor="let product of products; let productId=index" class="wrapper">
    <div *ngIf="productId == ID">
        <img src="{{product.photo}}" alt="" class="image">
    </div>
    <div *ngIf="productId == ID" class="box">
        <h3 class="header">{{ product.name }}</h3>
        <hr width="50%" height="3px" color="white" />
        <p class="desc">{{ product.description}}</p>
    </div>
    <div class="box2">
        <p class="who">Who can help you?</p>
        <hr width="50%" height="3px" color="white" />
        <p class="help"></p>
    </div>
</div>
<button class="select">Select</button>
<button class="back" [routerLink]="['/productList']">Go Back</button>